#wpbody .events-calendar-modules-for-divi-review-notice-wrapper.notice {
    padding: 5px;
    display: table;
    width: calc(100% - 10px);
    max-width: 870px;
    clear: both;
    border-radius: 5px;
    box-sizing: border-box;
}
.events-calendar-modules-for-divi-review-notice-wrapper .logo_container {
    width: 80px;
    display: table-cell;
    padding: 5px;
    vertical-align: middle;
}
.events-calendar-modules-for-divi-review-notice-wrapper .logo_container a,
.events-calendar-modules-for-divi-review-notice-wrapper .logo_container img {
    width:80px;
    height:auto;
    display:inline-block;
}
.events-calendar-modules-for-divi-review-notice-wrapper .message_container {
    display: table-cell;
    padding: 5px 22px 5px 5px;
    vertical-align: middle;
}
.notice-info {
    border-left-color: #72aee6;
}
.events-calendar-modules-for-divi-review-notice-wrapper p,
.events-calendar-modules-for-divi-review-notice-wrapper ul {
    padding: 0;
    margin: 0;
    line-height: 1.25em;
    display: flow-root;
}
.events-calendar-modules-for-divi-review-notice-wrapper ul {
    margin-top: 10px;
}
.events-calendar-modules-for-divi-review-notice-wrapper ul li {
    float: left;
    margin: 0px 10px 0 0;
}
.events-calendar-modules-for-divi-review-notice-wrapper ul li .button-primary {
    background: #2667ff;
    text-shadow: none;
    box-shadow: none;
    color: #fff;
}
.events-calendar-modules-for-divi-review-notice-wrapper ul li .button-secondary {
    background: #fff;
    background-color: #fff;
    border: 1px solid #757575;
    color: #757575;
}
.events-calendar-modules-for-divi-review-notice-wrapper ul li .button-secondary.already-rated-btn:before {
    color: #f12945;
    content: "\f153";
    font: normal 18px/21px dashicons;
    display: inline-block;
    vertical-align: sub;
}
.events-calendar-modules-for-divi-review-notice-wrapper ul li .button-primary:hover {
    background: #222;
    border-color: #000;
}

.events-calendar-modules-for-divi-review-notice-wrapper.notice-info.notice.is-dismissible {
    padding: 10px 22px 10px 9px;
    max-width: 870px;
    border-radius: 5px;
    box-sizing: border-box;
}
@media screen and (max-width: 660px) {
    .events-calendar-modules-for-divi-review-notice-wrapper .logo_container{
        display:none;
    }
    .events-calendar-modules-for-divi-review-notice-wrapper .message_container {
        display: flow-root;
    }
}